@charset "UTF-8";
@font-face {
  font-family: "Nordic";
  src: url(Nordic\ Alternative\ Regular.ttf);
}
:root {
  --clr-neon: hsl(94, 98%, 51%);
  transition: all 0.3s ease-in-out;
}

.grid-container {
  display: grid;
  height: 100vh;
}

.grid-container-home {
  display: grid;
  height: 100vh;
  width: 100vw;
  /*A index stílusa*/
}
.grid-container-home #home {
  grid-area: home;
}
.grid-container-home #home #information p {
  text-align: center justify;
  color: white;
  font-size: 150%;
}
.grid-container-home #gameTitle {
  grid-area: gameTitle;
  width: 100vw;
  height: -moz-min-content;
  height: min-content;
}
.grid-container-home #playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: playBtn;
  margin-bottom: 10px;
}
.grid-container-home #homeFooter {
  grid-area: homeFooter;
}

/*Mindkét weboldal stílusa itt van!!!!*/
body {
  /*Oldal alapvető stílusa*/
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(img/background.png);
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: 0 0;
  animation: moveBackground 15s linear infinite;
  /*A játék oldalona fő rész*/
  /*Az eredmény kijelzésére használt szekció(itt div)*/
  /*A footer mindkét oldalon ugyan az!!*/
}
body header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
}
body header #backToHome {
  margin-left: 10px;
  height: -moz-min-content;
  height: min-content;
}
body header #mode {
  height: -moz-min-content;
  height: min-content;
}
body header #informationTab {
  margin-right: 10px;
  height: -moz-min-content;
  height: min-content;
}
body h1 {
  color: var(--clr-neon);
  font-family: "Nordic";
  text-align: center;
  font-size: 100px;
  grid-area: mainTitle;
}
body #main {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: guesser;
}
body #main #guesser #userNumber {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-neon);
  background-color: transparent;
  font-size: 1.5rem;
  width: 300px;
  border: currentColor 0.125em solid;
  border-radius: 0.25em;
}
body #main #guesser #userNumber::-moz-placeholder {
  font-family: "Nordic";
}
body #main #guesser #userNumber::placeholder {
  font-family: "Nordic";
}
body #main #guesser .neon-btn {
  margin-left: 26.5%;
  margin-right: 30%;
}
body #display {
  display: flex;
  justify-content: center;
  color: var(--clr-neon);
  grid-area: display;
  font-size: 250%;
  font-family: "Nordic";
}
body footer {
  display: grid;
  background-color: rgba(26, 26, 26, 0.65);
  margin-bottom: 0px;
  padding: 10px;
  font-size: 125%;
  grid-area: footer;
}
body footer h4 {
  color: var(--clr-neon);
  font-family: "Nordic";
}
body footer a {
  text-decoration: none;
  color: white;
}
body footer a i {
  color: white;
  margin-right: 20px;
  position: relative;
  top: 8px;
  transition: top 0.3s ease, color 0.3s ease;
}
body footer a i:hover {
  top: 0;
}
body footer #discord:hover {
  color: rgb(114, 137, 218);
}
body footer #insta:hover {
  color: rgb(247, 119, 55);
}
body footer #github:hover {
  color: rgb(51, 51, 51);
}
body footer #youtube:hover {
  color: red;
}
body footer img {
  float: center;
  width: 200px;
  height: 150px;
  margin-left: 45px;
}
body #information {
  padding: 15px;
}

/*A gombok stílusa*/
.neon-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neon);
  border: currentColor 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.45em currentColor;
  font-size: 1.5rem;
  font-family: "Nordic";
  margin-top: 15px;
  margin-bottom: 15px;
}

.neon-btn:hover {
  background-color: var(--clr-neon);
  color: black;
  text-shadow: 0 0 0.45em currentColor;
}

/*Háttér animáció*/
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
/*Reszponzivitás*/
/*media - game.html*/
@media screen and (max-width: 768px) and (orientation: portrait) {
  .grid-container {
    grid-template-columns: 1.5fr;
    grid-template-rows: 0.25fr 0.5fr 0.33fr 0.33fr 0.5fr;
    grid-template-areas: "header" "mainTitle" "guesser" "display" "footer";
  }
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: "footer-col1 footer-col2" "footer-col3 footer-col4";
  }
}
@media screen and (min-width: 769px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.66fr 0.5fr 0.75fr;
    grid-template-areas: "header header header" "mainTitle mainTitle mainTitle" "guesser guesser guesser" "display display display" "footer footer footer";
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "footer-col1 footer-col2 footer-col3 footer-col4";
  }
}
@media screen and (min-width: 1025px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "header header header" "mainTitle mainTitle mainTitle" "guesser guesser guesser" "display display display" "footer footer footer";
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "footer-col1 footer-col2 footer-col3 footer-col4";
  }
}
/*media - index.html*/
@media screen and (max-width: 768px) and (orientation: portrait) {
  .grid-container-home {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: "gameTitle" "home" "playBtn" "footer";
  }
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: "footer-col1 footer-col2" "footer-col3 footer-col4";
  }
}
@media screen and (min-width: 769px) {
  .grid-container-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: "gameTitle gameTitle gameTitle gameTitle" "home home home home" "playBtn playBtn playBtn playBtn" "footer footer footer footer";
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "footer-col1 footer-col2 footer-col3 footer-col4";
  }
}
@media screen and (min-width: 1025px) {
  .grid-container-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.25fr 0.33fr;
    grid-template-areas: "gameTitle gameTitle gameTitle gameTitle" "home home home home" "playBtn playBtn playBtn playBtn" "footer footer footer footer";
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "footer-col1 footer-col2 footer-col3 footer-col4";
  }
}/*# sourceMappingURL=style.css.map */