@font-face {
    font-family: 'Nordic';
    src: url(Nordic\ Alternative\ Regular.ttf);
}

:root{
    --clr-neon: hsl(94, 98%, 51%);
}

.grid-container{
    display: grid;
}
.grid-container-home{
    display: grid;
    #gameTitle{
        grid-area: gameTitle;
    }
    #playBtn{
        grid-area: playBtn;
    }
    #homeFooter{
        grid-area: homeFooter;
    }
}

/*Mindkét weboldal stílusa itt van!!!!*/
body{
    /*Oldal alapvető stílusa*/
    background-color: rgba($color: #000000, $alpha: 0.5);
    background-image: url(img/background.png);
    background-blend-mode: overlay;
    background-repeat:repeat;

    height: 100vh;

    background-position: 0 0;
    animation: moveBackground 15s linear infinite;

    header{
        display: flex;
        justify-content: space-between;
        grid-area: header;
        
        #backToHome{
            margin-left: 10px;
            height: min-content;
        }
        #mode{
            height: min-content;
        }
        #informationTab{
            margin-right: 10px;
            height: min-content;
        }
        
    }

    h1{
        color: var(--clr-neon);
        font-family: 'Nordic';
        text-align: center;
        font-size: 100px;
        grid-area: mainTitle;
    }

    /*A játék oldalona fő rész*/
    #main{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: guesser;
        #guesser{
            #userNumber{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
    
                color: var(--clr-neon);
                background-color: transparent;
    
                font-size: 1.5rem;
                width: 300px;
    
                border: currentColor 0.125em solid;;
                border-radius: 0.25em;
                //grid-area: userNumber;
                
            }
            #userNumber::placeholder{
                font-family: 'Nordic';
            }
        
            .neon-btn{
                //margin-top: 15px;
                margin-left: 31%;
                margin-right: 30%;
        
            }
        }
    }
    /*Az eredmény kijelzésére használt szekció(itt div)*/
    #display{
        display: flex;
        justify-content: center;

        color: var(--clr-neon);

        grid-area: display;

        font-size: 250%;
        font-family: 'Nordic';
    }

    /*A index stílusa*/
    #home{
        display: flex;
        align-items: center;
        
        grid-area: home;
        #information{
            
            p{
                text-align: center justify;
                color: white;   
            }
        }    
    }




   /*A footer mindkét oldalon ugyan az!!*/
    footer{
        display: grid;

        background-color: rgba($color: #1a1a1a, $alpha: 0.9);
        margin-bottom: 0px;
        padding: 10px;

        font-size: 125%;
        h4{
            color: var(--clr-neon);
            font-family: 'Nordic';
        }

        a{
            text-decoration: none;
            color: white;
            
            i{
                color: white;
                margin-right: 20px;
                margin-top: 60px;
            }
        }
        i:hover{
            transform: translateY(-20px);
            color: var(--clr-neon);
        }


        grid-area: footer;
    }

}


/*A gombok stílusa*/
.neon-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neon);
    border: currentColor 0.125em solid;

    padding: 0.25em 1em;
    border-radius: 0.25em;

    background-color: rgba($color: #000000, $alpha: 0.5);

    text-shadow: 0 0 0.45em currentColor;
    font-size: 1.5rem;
    font-family: 'Nordic';

    margin-top: 15px;


}.neon-btn:hover{
    background-color: var(--clr-neon);
    color: black;
    text-shadow: 0 0 0.45em currentColor;

}


/*Háttér animáció*/
@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%; 
    }
}

/*Reszponzivitás*/
/*media - game.html*/
@media screen and (max-width: 768px) and (orientation: portrait){
    .grid-container{
        grid-template-columns:1.5fr;
        grid-template-rows: 0.25fr 0.5fr 0.33fr 0.33fr 0.5fr;
        grid-template-areas: 
        "header"
        "mainTitle"
        "guesser"
        "display"
        "footer";
    }

    footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-area: 
        'footer-col1 footer-col2'
        'footer-col3 footer-col4';
    }
}

@media screen and (min-width: 769px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 0.66fr 0.5fr 0.75fr;
        grid-template-areas: 
        "header header header"
        "mainTitle mainTitle mainTitle"
        "guesser guesser guesser"
        "display display display"
        "footer footer footer";
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-area: 
        'footer-col1 footer-col2 footer-col3 footer-col4';
    }
}


@media screen and (min-width: 1025px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "mainTitle mainTitle mainTitle"
        "guesser guesser guesser"
        "display display display"
        "footer footer footer";
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-area: 
        'footer-col1 footer-col2 footer-col3 footer-col4';
    }
}


/*media - index.html*/
@media screen and (max-width: 768px) and (orientation: portrait){
    .grid-container-home{
        grid-template-columns:1.5fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        grid-template-areas: 
        "gameTitle"
        "home"
        "playBtn"
        "homeFooter";
    }

    footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-area: 
        'footer-col1 footer-col2'
        'footer-col3 footer-col4';
    }
}

@media screen and (min-width: 769px){
    .grid-container-home{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        grid-template-areas: 
        "gameTitle"
        "home"
        "playBtn"
        "homeFooter";
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-area: 
        'footer-col1 footer-col2 footer-col3 footer-col4';
    }
}


@media screen and (min-width: 1025px){
    .grid-container-home{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        grid-template-areas: 
        "gameTitle"
        "home"
        "playBtn"
        "homeFooter";
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-area: 
        'footer-col1 footer-col2 footer-col3 footer-col4';
    }
}